[submodule "dircolors-solarized"]
  path = dircolors-solarized
  url = git://github.com/seebi/dircolors-solarized.git
[submodule "gocode"]
	path = gocode
	url = git://github.com/nsf/gocode.git
[submodule "tmux-MacOSX-pasteboard"]
	path = tmux-MacOSX-pasteboard
	url = git://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard.git
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular
[submodule "vimux"]
	path = vimux
	url = git://github.com/benmills/vimux.git
[submodule "vimux-ruby-test"]
	path = vimux-ruby-test
	url = git://github.com/pgr0ss/vimux-ruby-test.git
[submodule "dart-vim-plugin"]
	path = dart-vim-plugin
	url = git://github.com/dart-lang/dart-vim-plugin.git
[submodule "lint"]
	path = lint
	url = git@github.com:golang/lint.git
[submodule "vim-airline"]
	path = vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim-clojure-static"]
	path = vim-clojure-static
	url = git@github.com:guns/vim-clojure-static.git
[submodule "vim-fireplace"]
	path = vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "vim-classpath"]
	path = vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule "vim-slime"]
	path = vim-slime
	url = git@github.com:jpalardy/vim-slime.git
