[submodule "dart-vim-plugin"]
	path = dart-vim-plugin
	url = git://github.com/dart-lang/dart-vim-plugin.git
[submodule "vim-go"]
	path = vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim-jsx"]
	path = vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "rust.vim"]
	path = rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim-reason-plus"]
	path = vim-reason-plus
	url = https://github.com/reasonml-editor/vim-reason-plus
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
