[submodule "dircolors-solarized"]
  path = dircolors-solarized
  url = git://github.com/seebi/dircolors-solarized.git
[submodule "asciidoc-vim"]
  path = asciidoc-vim
  url = git://github.com/dagwieers/asciidoc-vim.git
[submodule "gocode"]
	path = gocode
	url = git://github.com/nsf/gocode.git
[submodule "tmux-MacOSX-pasteboard"]
	path = tmux-MacOSX-pasteboard
	url = git://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard.git
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular
[submodule "vimux"]
	path = vimux
	url = git://github.com/benmills/vimux.git
[submodule "vimux-ruby-test"]
	path = vimux-ruby-test
	url = git://github.com/pgr0ss/vimux-ruby-test.git
[submodule "vimux-golang"]
	path = vimux-golang
	url = git://github.com/benmills/vimux-golang.git
[submodule "dart-vim-plugin"]
	path = dart-vim-plugin
	url = git://github.com/dart-lang/dart-vim-plugin.git
